* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --colour-primary: #000000;
    --colour-secondary: #FFFFFF;
    --colour-tertiary: #FF0000;
    --box-shadow-1: 0px 0px 40px var(--colour-primary);
    --box-shadow-2: 0px 0px 40px var(--colour-secondary);
    --br-sm-2: 14px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    background-color: var(--colour-primary);
    color: var(--colour-secondary);
    transition: all .3s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--colour-secondary);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%);
    transition: all 0.3 ease-in-out;
    background-color: var(--colour-primary);
}

.s1 {
    display: none;
    transform: translateY(0) scale(1);
}

.s2 {
    display: none;
    transform: translateY(0) scale(1);
}

.s3 {
    display: none;
    transform: translateY(0) scale(1);
}

.s4 {
    display: none;
}

.s5 {
    display: none;
}

@keyframes scaleAnim {
    0% {
        transform: translateY(-100%) scaleY(0)
    }    
    100% {
        transform: translateY(0) scaleY(1)
    }      
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;
}

.controls {
    position: fixed;
    z-index: 10;
    top: 2%;
    right: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.control {
    padding: 1.3rem;
    cursor: pointer;
    background-color: var(--colour-primary);
    width: 57px;
    height: 57px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    box-shadow: var(--box-shadow-1);
}

i {
    font-size: 1.6rem;
    color: var(--colour-secondary) !important;
    pointer-events: none;
}

.active-btn {
    background-color: var(--colour-tertiary) !important;
    transition: all 0.3s ease-in-out;
}

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.right-header {
    display: flex;
    align-items: center;
    position: relative;   
}

.right-header .h-shape {
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    background-color: var(--colour-secondary);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
}

.right-header .img {
    border-radius: var(--br-sm-2);
    height: 86%;
    width: 100%;
    /* margin-left: 7rem; */
    margin-left: 12rem;
    margin-top: 10rem;
    transition: all 0.5s ease-in-out;
    filter: grayscale(100%);
    object-fit: 100%;
}

.right-header .img:hover {
    filter: grayscale(0%);
}

.left-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -10rem;
    padding-left: 5%;
}

.left-header .name {
    font-size: 3rem;
    span {
        color: var(--colour-tertiary);
    }
}

.left-header p {
    margin: 1.5rem 0;
    line-height: 2rem;
}